{# ############ SOURCES ############# #}
{% for pad_number,camera in cameras.items() %}

rtspsrc
  location=rtsp://{{ camera.user }}:{{ camera.password }}@{{ camera.ip_port }}/cam/realmonitor?channel=1&subtype=1
! rtph265depay 
! h265parse 
! queue
! avdec_h265
! nvvideoconvert
! video/x-raw(memory:NVMM),format=NV12
! muxer.sink_{{ pad_number }}

{% endfor %}
{# ####################################### #}

{# ############ INFERENCE ################ #}

nvstreammux
  name=muxer
  width=704
  height=480
  batch-size={{ cameras|length }}
  batched-push-timeout=33333
  live-source=true
  nvbuf-memory-type=0
! nvinfer
  config-file-path=/opt/nvidia/deepstream/deepstream/sources/apps/sample_apps/deepstream-nvdsanalytics-test/nvdsanalytics_pgie_config.txt
  batch-size={{ cameras|length }}
! nvtracker
  ll-lib-file=/opt/nvidia/deepstream/deepstream/lib/libnvds_nvdcf.so
  ll-config-file=/opt/nvidia/deepstream/deepstream/sources/apps/sample_apps/deepstream-nvdsanalytics-test/tracker_config.yml
  tracker-width=640
  tracker-height=384
! nvdsanalytics
  config-file=/opt/nvidia/deepstream/deepstream/sources/apps/sample_apps/deepstream-nvdsanalytics-test/config_nvdsanalytics.txt
  name=analytics
! tee name=analytics_tee

analytics_tee.
! queue
! nvmultistreamtiler
  name=tiler
  width={{ multistreamtiler_width }}
  height={{ multistreamtiler_height }}
  show-source=-1
! nvvideoconvert
! nvdsosd
! tee name=osd_tee

osd_tee.
! queue
! nvvideoconvert
! videoconvert
! timeoverlay
  halignment=right
  valignment=bottom
  text="Current time:"
  shaded-background=true
  font-desc="Sans, 24" 
! clockoverlay
  halignment=right
  valignment=center
  text="Stream time:"
  shaded-background=true
  font-desc="Sans, 24" 
! fpsdisplaysink
  video-sink=nveglglessink

osd_tee.
! queue
! nvvideoconvert
! decodebin
! nvvideoconvert
! videoconvert
! video/x-raw,format=I420
! tee
  name=connection
! queue
! fakesink

analytics_tee.
! queue
! nvstreamdemux
    name=demux



{# ############ FILESINKS  ############# #}
{% for pad_number,camera in cameras.items() %}

demux.src_{{ pad_number }}
! decodebin
! videoconvert
! nvvideoconvert
! video/x-raw,width={{ camera.width }},height={{ camera.height }},format=I420
! queue
! appsink
  name=appsink_{{ pad_number }}
  emit-signals=true
  async=false

{% endfor %}
{# ####################################### #}
