<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <style>
      .error { color: red; }
      video {
        width: 100%;
        height: auto
      }
    </style>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="{{ url_for('static', filename='webrtc.js')}}"></script>
    <script>
      window.onload = websocketServerConnect;
    </script>
  </head>

  <body>
    <div>
      <video id="stream" autoplay playsinline controls>
        Your browser doesn't support video
      </video>
    </div>
  </body>
</html>
