{% extends "base.html" %}

{% block title %}Cámaras en Vivo{% endblock %}

{% block header_scripts %}
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<!-- <script src="{{ url_for('static', filename='js/webrtc.js')}}"></script> TODO: USE THIS FOR PROD -->
<script src="{{ url_for('static', filename='js/webrtc.js')+'?cacheBusting=' +  '{}'.format(range(99999)|random) }}"></script><!-- avoid cache -->
<script>
  window.onload = onLoad;
</script>
{% endblock %}

{% block content %}

<!-- MDL Progress Bar with Indeterminate Progress -->
<div id="videoProgressbar" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>


<div id="videoPlayer">
  <div id="cameraButtons"></div>
  <video
  id="stream"
  autoplay playsinline
  style="display: none;"
>
Your browser doesn't support video
</video>
</div>

{% endblock %}
